{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://ficoqp-synapse.apps.ocp-t.sberbank.kz","description":"Generated server url"}],"paths":{"/api/updtempdocsigns":{"post":{"tags":["basic-controller"],"operationId":"updtempdocsigns","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/UpdTempDocSignsRq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/UpdTempDocSignsRs"}}}}}}},"/api/shrtngTermMinSum":{"post":{"tags":["basic-controller"],"operationId":"shrtngTermMinSum","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ShrtngTermMinSumBconRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ShrtngTermMinSumBconResponse"}}}}}}},"/api/shrtngTermCalc":{"post":{"tags":["basic-controller"],"operationId":"shrtngTermCalc","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ShrtngTermCalcBconRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ShrtngTermCalcBconResponse"}}}}}}},"/api/sendCredit":{"post":{"tags":["basic-controller"],"operationId":"sendCredit","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SendCreditBconRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SendCreditBconResponse"}}}}}}},"/api/searchOptranz":{"post":{"tags":["basic-controller"],"operationId":"searchOptranz","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SearchOptranzBconRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SearchOptranzBconResponse"}}}}}}},"/api/openanyacct":{"post":{"tags":["basic-controller"],"operationId":"openanyacct","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/OpenAnyAcctRq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/OpenAnyAcctRs"}}}}}}},"/api/kzgetcredithistory":{"post":{"tags":["basic-controller"],"operationId":"kzgetcredithistory","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KZGetCreditHistoryBconRq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KZGetCreditHistoryBconRs"}}}}}}},"/api/kzepcpersonsyncdata":{"post":{"tags":["basic-controller"],"operationId":"personSync","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/PersonSyncRq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/PersonSyncRs"}}}}}}},"/api/kzanderrstornorestr":{"post":{"tags":["basic-controller"],"operationId":"kzanderrstornorestr","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KZAnderrStornoRestrRq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KZAnderrStornoRestrRs"}}}}}}},"/api/kzanderrsalyk":{"post":{"tags":["basic-controller"],"operationId":"kzanderrsalyk","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KZAnderrSalykBconRq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KZAnderrSalykBconRs"}}}}}}},"/api/kzanderrsalturnover":{"post":{"tags":["basic-controller"],"operationId":"kzanderrsalturnover","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KzAndSalTurnoverBconRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KzAndSalTurnoverBconResponse"}}}}}}},"/api/kzanderrlsboo":{"post":{"tags":["basic-controller"],"operationId":"kzanderrlsboo","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KzAnderLsbooBconRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KzAnderLsbooBconResponse"}}}}}}},"/api/kzanderrgetacctlist":{"post":{"tags":["basic-controller"],"operationId":"kzanderrgetacctlist","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KZAnderrGetAcctListBconRq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KZAnderrGetAcctListBconRs"}}}}}}},"/api/kzanderrclose":{"post":{"tags":["basic-controller"],"operationId":"kzanderrclose","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KZAnderrCloseRq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KZAnderrCloseRs"}}}}}}},"/api/kzRepaymStatus":{"post":{"tags":["basic-controller"],"operationId":"kzRepaymStatus","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KZRepaymStatusBconRq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KZRepaymStatusBconRs"}}}}}}},"/api/kzAnderrRater":{"post":{"tags":["basic-controller"],"operationId":"kzAnderrRater","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KzAnderrRaterBconRq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KzAnderrRaterBconRs"}}}}}}},"/api/kzAnderrDebtInfo":{"post":{"tags":["basic-controller"],"operationId":"kzAnderrDebtInfo","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/DebtInfoBconRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/DebtInfoBconResponse"}}}}}}},"/api/kzAnderrChkCliCULS":{"post":{"tags":["basic-controller"],"operationId":"kzAnderrChkCliCULS","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ChkCliCulsBconRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ChkCliCulsBconResponse"}}}}}}},"/api/kzAnderrCheckClientDocument":{"post":{"tags":["basic-controller"],"operationId":"checkClientDocument","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KZAnderrCheckClientDocumentBconRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KZAnderrCheckClientDocumentBconResponse"}}}}}}},"/api/kzAnderrBlackList":{"post":{"tags":["basic-controller"],"operationId":"kzAnderrBlackList","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AnderBlackListBconRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AnderBlackListBconResponse"}}}}}}},"/api/kzAnderrBinActive":{"post":{"tags":["basic-controller"],"operationId":"kzAnderrBinActive","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KZAnderrBinActiveBconRq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KZAnderrBinActiveBconRs"}}}}}}},"/api/getpersoninfo":{"post":{"tags":["basic-controller"],"operationId":"getpersoninfo","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/GetPersonInfoBconRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/GetPersonInfoBconResponse"}}}}}}},"/api/ficopersoninfo":{"post":{"tags":["basic-controller"],"operationId":"ficoPersonInfo","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/FicoPersonInfoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/FicoPersonInfoResponse"}}}}}}},"/api/ficocreditexport":{"post":{"tags":["basic-controller"],"operationId":"ficocreditexport","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/FicoCreditExportRq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/FicoCreditExportRs"}}}}}}},"/api/ficoKassCredSelect":{"post":{"tags":["basic-controller"],"operationId":"ficoKassCredSelect","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/FicoKassCredSelectBconRq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/FicoKassCredSelectBconRs"}}}}}}},"/api/ficoKassCHDP":{"post":{"tags":["basic-controller"],"operationId":"ficoKassCHDP","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/FicoKassCHDPBconRq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/FicoKassCHDPBconRs"}}}}}}},"/api/documnetsync":{"post":{"tags":["basic-controller"],"operationId":"documnetsync","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/DocumentSyncBconRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/DocumentSyncBconResponse"}}}}}}},"/api/depositacctgetlist":{"post":{"tags":["basic-controller"],"operationId":"depositAcctGetList","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/DAGLRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/DAGLResponse"}}}}}}},"/api/anderrpersonsync":{"post":{"tags":["basic-controller"],"operationId":"anderrPerson","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AnderrPersonSyncRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AnderrPersonSyncResponse"}}}}}}},"/api/anderrloanrest":{"post":{"tags":["basic-controller"],"operationId":"anderrloanrest","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KZAnderrLoanRestRq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/KZAnderrLoanRestRs"}}}}}}},"/api/anderrloanacceptrest":{"post":{"tags":["basic-controller"],"operationId":"anderrLoanacceptrest","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AnderrLoanAcceptRestRq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AnderrLoanAcceptRestRs"}}}}}}},"/api/anderrloan":{"post":{"tags":["basic-controller"],"operationId":"personSync_1","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AnderrLoanRq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AnderrLoanRs"}}}}}}},"/api/anderrholiday":{"post":{"tags":["basic-controller"],"operationId":"anderrHolida","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AnderrReqHolidayRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AnderrReqHolidayResponse"}}}}}}},"/api/agreementul":{"post":{"tags":["basic-controller"],"operationId":"agreementul","requestBody":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AgrUlBconRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AgrUlBconResponse"}}}}}}}},"components":{"schemas":{"Properties":{"type":"object","properties":{"rqTm":{"type":"string"},"systemCode":{"type":"string"},"filialCode":{"type":"string"},"rqUID":{"type":"string"},"serviceCode":{"type":"string"}}},"RequestData":{"type":"object","properties":{"iin":{"type":"string"},"dbz":{"type":"string"},"signCode":{"type":"string"},"signVal":{"type":"string"}}},"UpdTempDocSignsRq":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/RequestData"}}},"HLegalUpdSignsResponse":{"type":"object","properties":{"updSignsResponse":{"$ref":"#/components/schemas/UpdSignsResponse"}}},"ResponseData":{"type":"object","properties":{"hLegalUpdSignsResponse":{"$ref":"#/components/schemas/HLegalUpdSignsResponse"}}},"UpdSignsResponse":{"type":"object","properties":{"dbz":{"type":"string"},"iin":{"type":"string"},"signCode":{"type":"string"},"signVal":{"type":"string"},"statusCode":{"type":"string"},"statusDesc":{"type":"string"}}},"UpdTempDocSignsRs":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/ResponseData"}}},"BconRequestHeader":{"type":"object","properties":{"service":{"type":"string","example":"SBOLCreditOnlineNN"},"platform":{"type":"string","example":"A_SBOL"},"sourceSystem":{"type":"string","example":"A_FICO"},"rqUid":{"type":"string","example":"c28ebf55e7a14af7b2ef6fd82697a354"},"rqTm":{"type":"string","example":"2022-07-21T15:59:08"},"operUid":{"type":"string","example":"92bb2fc388b2472585b3b63e98c65043"}}},"ShrtngTermMinSumBconRequest":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/ShrtngTermMinSumRqParms"}}},"ShrtngTermMinSumRqParms":{"type":"object","properties":{"serviceCode":{"type":"string","example":"ShrtngTermMinSum"},"filialCode":{"type":"string","example":"99"},"contCode":{"type":"string","example":"23-000003-01-Р”Р‘Р—@01"},"isOnlyIntForMin":{"type":"string","example":"1"}}},"BconResponseHeader":{"type":"object","properties":{"service":{"type":"string","example":"Agreement-UL"},"platform":{"type":"string","example":"QPragma"},"sourceSystem":{"type":"string","example":"FICO"},"rqUid":{"type":"string","example":"c28ebf55e7a14af7b2ef6fd82697a354"},"rqTm":{"type":"string","example":"c28ebf55e7a14af7b2ef6fd82697a354"},"rsUid":{"type":"string","example":"2022-07-21T15:59:08"},"rsTm":{"type":"string","example":"2022-07-21T15:59:08"},"operUid":{"type":"string","example":"92bb2fc388b2472585b3b63e98c65043"}}},"ShrtngTermMinSumBconResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParams":{"$ref":"#/components/schemas/ShrtngTermMinSumRsParms"}}},"ShrtngTermMinSumResult":{"type":"object","properties":{"minSum":{"type":"string","example":"150282.02"},"maxSum":{"type":"string","example":"1.404026749E7"}}},"ShrtngTermMinSumRsParms":{"type":"object","properties":{"shrtngTermMinSumResult":{"$ref":"#/components/schemas/ShrtngTermMinSumResult"}}},"ShrtngTermCalc":{"type":"object","properties":{"contCode":{"type":"string","example":"23-000003-01-Р”Р‘Р—@01"},"paySum":{"type":"string","example":"391000.0"}}},"ShrtngTermCalcBconRequest":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/ShrtngTermCalcRqParms"}}},"ShrtngTermCalcRqParms":{"type":"object","properties":{"serviceCode":{"type":"string","example":"ShrtngTermCalc"},"filialCode":{"type":"string","example":"99"},"shrtngTermCalc":{"$ref":"#/components/schemas/ShrtngTermCalc"}}},"ShrtngTermCalcBconResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/ShrtngTermCalcRsParms"}}},"ShrtngTermCalcResult":{"type":"object","properties":{"newPayNum":{"type":"string","example":"107"},"oldPayNum":{"type":"string","example":"117"},"newSum":{"type":"string","example":"275073.69"},"oldSum":{"type":"string","example":"275218.78"}}},"ShrtngTermCalcRsParms":{"type":"object","properties":{"shrtngTermCalcResult":{"$ref":"#/components/schemas/ShrtngTermCalcResult"}}},"Credit":{"type":"object","properties":{"bin":{"type":"string","example":"650101300975"},"id":{"type":"string"},"number":{"type":"string"}}},"SendCreditBconRequest":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/SendCreditRqParms"}}},"SendCreditRqParms":{"type":"object","properties":{"systemCode":{"type":"string","example":"IPT"},"filialCode":{"type":"string","example":"00"},"credit":{"$ref":"#/components/schemas/Credit"}}},"SendCreditBconResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/SendCreditRsParms"}}},"SendCreditRsParms":{"type":"object","properties":{"credits":{"type":"array","items":{"$ref":"#/components/schemas/Credit"}}}},"OptranzRq":{"type":"object","properties":{"iin":{"type":"string","example":"00055656565"},"opDate":{"type":"string","example":"15/05/2023"},"transaction":{"type":"string","example":"РџРќРљР‘Рљ"},"balAcctCr":{"type":"string","example":"2870"},"balAcctDb":{"type":"string","example":"1001"},"kbk":{"type":"string","example":"108126"},"summa":{"type":"string","example":"3450"}}},"SearchOptranzBconRequest":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/SearchOptranzRqParms"}}},"SearchOptranzRqParms":{"type":"object","properties":{"systemCode":{"type":"string","example":"SBOL2"},"serviceCode":{"type":"string","example":"SearchOptranz"},"filialCode":{"type":"string","example":"00"},"optranzRq":{"$ref":"#/components/schemas/OptranzRq"}}},"SearchOptranz":{"type":"object","properties":{"op":{"type":"string","example":"2940844655"},"iin":{"type":"string","example":"981016000112"},"opTrans":{"type":"string","example":"3176074847"},"opDetails":{"type":"string","example":"Р“РѕСЃСѓРґР°СЂСЃС‚РІРµРЅРЅР°СЏ РїРѕС€Р»РёРЅР°, Р·Р°С‡РёСЃР»СЏРµРјР°СЏ РІ РјРµСЃС‚РЅС‹Р№ Р±СЋРґР¶РµС‚"}}},"SearchOptranzBconResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/SearchOptranzRsParms"}}},"SearchOptranzRsParms":{"type":"object","properties":{"searchOptranzs":{"type":"array","items":{"$ref":"#/components/schemas/SearchOptranz"}}}},"OpenAnyAcctRq":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/RequestData"}}},"OpenAnyAcctRs":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/ResponseData"}}},"KZGetCreditHistoryBconRq":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/KZGetCreditHistoryRqParms"}}},"KZGetCreditHistoryRqParms":{"type":"object","properties":{"lastName":{"type":"string"},"firstName":{"type":"string"},"middleName":{"type":"string"},"personIdType":{"type":"string"},"personId":{"type":"string"},"dealMemberType":{"type":"string"}}},"Debtor":{"type":"object","properties":{"bki":{"type":"string"},"lastName":{"type":"string"},"firstName":{"type":"string"},"middleName":{"type":"string"},"idPragma":{"type":"string"},"contract":{"type":"string"},"currentAcct":{"type":"string"},"ibanTransh":{"type":"string"},"dateLast":{"type":"string"},"dateOpen":{"type":"string"},"dateClose":{"type":"string"},"statusLoan":{"type":"string"},"currency":{"type":"string"},"currencyName":{"type":"string"},"amountLoan":{"type":"string"},"amountUnpaid":{"type":"string"},"interest":{"type":"string"},"amountMonth":{"type":"string"},"purposeLoan":{"type":"string"},"graph":{"type":"string"},"typeCredit":{"type":"string"},"credLineType":{"type":"object"},"refinance":{"type":"string"},"restructuring":{"type":"string"},"writeOff":{"type":"string"},"noInfoDelay":{"type":"string"},"amountDelay":{"type":"string"},"transPeriod":{"type":"string"},"role":{"type":"string"},"bankName":{"type":"string"},"vidObesp":{"type":"string"},"prodNum":{"type":"string"},"startDate":{"type":"string"},"companyName":{"type":"string"},"esignature":{"type":"string"},"delay":{"type":"array","items":{"$ref":"#/components/schemas/KZGetCreditHistoryDelay"}},"restruct":{"type":"array","items":{"$ref":"#/components/schemas/KZGetCreditHistoryRestruct"}},"collateral":{"type":"array","items":{"$ref":"#/components/schemas/KZGetCreditHistoryCollateral"}},"pledgeKind":{"type":"string"},"dateTransfer":{"type":"string"}}},"KZGetCreditHistoryBconRs":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/KZGetCreditHistoryRsParms"}}},"KZGetCreditHistoryCollateral":{"type":"object","properties":{"vidDog":{"type":"string","example":"РљСЂРµРґРћР±"},"cassObesp":{"type":"string","example":"2 РќРµРґРІРёР¶РёРјРѕРµ РёРјСѓС‰РµСЃС‚РІРѕ"},"nomerDogObesp":{"type":"string","example":"20-140392-00-Р”Р—-001"},"clientType":{"type":"string","example":"Р§"},"clientName":{"type":"string","example":"63955 Р•Р”РР РћР’ РљРђР™Р РђРў Р–РђРњР‘РЈР›РћР’РР§"},"amount":{"type":"string","example":"87154000"},"popravKoef":{"type":"string","example":"0.47"},"vidZaloga":{"type":"string","example":"23 Р–РёР»РѕР№ РґРѕРј"},"acct":{"type":"string","example":"KZ00914007250KZ00JL4"},"description":{"type":"string","example":"Р±РѕСЂРґРµСЂРѕ Р¶РёР»РѕР№ РґРѕРј СЃ Р·РµРјРµР»СЊРЅС‹Рј СѓС‡Р°СЃС‚РєРѕРј "},"country":{"type":"string","example":"KAZ"},"location":{"type":"string","example":"Рі. РђР»РјР°С‚С‹, Р‘РѕСЃС‚Р°РЅРґС‹РєСЃРєРёР№, РјРєСЂ. Р“Р°Р»Р°РјР°С‚, СѓР». РђС‚Р°РјСѓСЂР°, Рґ.7"},"addInfo":{"type":"string","example":"РћР±С‰Р°СЏ РїР»РѕС‰Р°РґСЊ 305.1, Р¶РёР»Р°СЏ РїР»РѕС‰Р°РґСЊ 151.1, c Р·РµРјРµР»СЊРЅС‹Рј СѓС‡Р°СЃС‚РєРѕРј РјРµСЂРѕСЋ .0924, РґРѕР»СЏ .0924, РљР°РґР°СЃС‚СЂРѕРІС‹Р№ РЅРѕРјРµСЂ 20-313-053-416"},"signDate":{"type":"string","example":"2020-12-30"},"endDate":{"type":"string","example":"2034-07-30"},"regDate":{"type":"string","example":"String"},"kadNumber":{"type":"string","example":"20-313-053-416"},"assessDate":{"type":"string","example":"2020-08-19"},"type":{"type":"string","example":"Р®"},"code":{"type":"string","example":"434324 РўРѕРІР°СЂРёС‰РµСЃС‚РІРѕ СЃ РѕРіСЂР°РЅРёС‡РµРЅРЅРѕР№ РѕС‚РІРµС‚СЃС‚РІРµРЅРЅРѕСЃС‚СЊСЋ"},"qualityCat":{"type":"string","example":"String"},"collateralCat":{"type":"string","example":"String"},"collateralCur":{"type":"string","example":"String"},"collateralObj":{"type":"string","example":"String"},"offDate":{"type":"string","example":"String"},"niAmount":{"type":"string","example":"String"},"depType":{"type":"string","example":"String"},"depNumber":{"type":"string","example":"String"}}},"KZGetCreditHistoryDelay":{"type":"object","properties":{"dateStartDelay":{"type":"string"},"amountDelayMax":{"type":"string"},"dateEndDelay":{"type":"string"}}},"KZGetCreditHistoryRestruct":{"type":"object","properties":{"typeRestruct":{"type":"string"},"subTypeRestruct":{"type":"string"}}},"KZGetCreditHistoryRsParms":{"type":"object","properties":{"statusCode":{"type":"string"},"statusDesc":{"type":"string"},"agreement":{"type":"array","items":{"$ref":"#/components/schemas/Debtor"}}}},"AdditionalInformation":{"type":"object","properties":{"Category":{"type":"string"}}},"Address":{"type":"object","properties":{"AddressType":{"type":"string"},"Country":{"type":"string"},"ZipCode":{"type":"string"},"County":{"type":"string"},"Region":{"type":"string"},"City":{"type":"string"},"Street":{"type":"string"},"House":{"type":"string"}}},"Contact":{"type":"object","properties":{"Type":{"type":"string"},"Contact":{"type":"string"}}},"Document":{"type":"object","properties":{"DocumentType":{"type":"string"},"Number":{"type":"string"},"Issuer":{"type":"string"},"IssueDate":{"type":"string"},"ValidDate":{"type":"string"},"IssuingCountry":{"type":"string"},"Resident":{"type":"string"},"IsBaseDoc":{"type":"string"}}},"Person":{"type":"object","properties":{"Today":{"type":"string"},"IIN":{"type":"string"},"Branch":{"type":"string"},"LastName":{"type":"string"},"FirstNames":{"type":"string"},"ip":{"type":"string"},"ClassPerson":{"type":"string"},"PersonInformation":{"$ref":"#/components/schemas/PersonInformation"},"Contacts":{"type":"array","items":{"$ref":"#/components/schemas/Contact"}},"AdditionalInformation":{"$ref":"#/components/schemas/AdditionalInformation"},"Documents":{"type":"array","items":{"$ref":"#/components/schemas/Document"}},"Addresses":{"type":"array","items":{"$ref":"#/components/schemas/Address"}}}},"PersonInformation":{"type":"object","properties":{"Gender":{"type":"integer","format":"int32"},"BirthDate":{"type":"string"},"BirthPlace":{"type":"string"},"RegionCode":{"type":"string"},"Citizenship":{"type":"string"},"IsForeignPublicPerson":{"type":"string"},"MaritalStatus":{"type":"string"},"Manager":{"type":"string"},"Fillial":{"type":"string"},"RiskLevel":{"type":"string"},"Segment":{"type":"string"},"ServiceChannel":{"type":"string"},"AddressHome":{"type":"string"},"MangledName":{"type":"string"},"SourceFund":{"type":"string"}}},"PersonSyncRq":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/RequestData"}}},"PersonSyncResult":{"type":"object","properties":{"riskLevel":{"type":"string"},"unk":{"type":"string"},"iinnotUniq":{"type":"string"},"personId":{"type":"string"},"statusDesc":{"type":"string"},"status":{"type":"string"}}},"PersonSyncRs":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/ResponseData"}}},"KZAnderrStornoRestrRq":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/RequestData"}}},"KZAnderrStornoRestrRs":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/ResponseData"}}},"KZAnderrSalykBconRq":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/KZAnderrSalykRqParms"}}},"KZAnderrSalykRqParms":{"type":"object","properties":{"iin":{"type":"string"}}},"KZAnderrSalykBconRs":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/KZAnderrSalykRsParms"}}},"KZAnderrSalykRsParms":{"type":"object","properties":{"statusCode":{"type":"string"},"statusDesc":{"type":"string"},"surname":{"type":"string"},"name":{"type":"string"},"fatherName":{"type":"string"},"fio":{"type":"string"},"dateBirth":{"type":"string"},"isTaxPay":{"type":"string"},"category":{"type":"string"},"dateOut":{"type":"string"},"reasonOut":{"type":"string"}}},"KzAndSalTurnoverBconRequest":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/KzAndSalTurnoverrRqParms"}}},"KzAndSalTurnoverrRqParms":{"type":"object","properties":{"filialCode":{"type":"string","example":"0"},"iin":{"type":"string","example":"710706400300"},"cardAccountNumber":{"type":"string","example":"KZ54914CP64384201546"},"lastName":{"type":"string","example":"РЈРЎРўР•РќРћР’Рђ"},"firstName":{"type":"string","example":"Р“РЈР›Р¬Р‘РђР РђРњ"},"middleName":{"type":"string","example":"РћРњРђР Р“РђР—РР•Р’РќРђ"},"dateFrom":{"type":"string","example":"2022-07-05"},"dateTo":{"type":"string","example":"2023-01-05"}}},"KZSalRsTurnoverPayment":{"type":"object","properties":{"paymentId":{"type":"string"},"amtPayment":{"type":"string"},"currency":{"type":"string"},"dateOfPayment":{"type":"string"},"namePayment":{"type":"string"}}},"KzAndSalTurnoverBconResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/KzAndSalTurnoverrRsParms"}}},"KzAndSalTurnoverrRsParms":{"type":"object","properties":{"statusCode":{"type":"string","example":"0"},"statusDesc":{"type":"string"},"iin":{"type":"string","example":"710706400300"},"cardAccountNumber":{"type":"string","example":"KZ54914CP64384201546"},"status":{"type":"string","example":"2"},"payments":{"type":"array","items":{"$ref":"#/components/schemas/KZSalRsTurnoverPayment"}}}},"KzAnderLsbooBconRequest":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/KzAnderLsbooRqParms"}}},"KzAnderLsbooRqParms":{"type":"object","properties":{"filialCode":{"type":"string","example":"0"},"iin":{"type":"string","example":"710706400300"},"lname":{"type":"string","example":"РЈРЎРўР•РќРћР’Рђ"},"fname":{"type":"string","example":"Р“РЈР›Р¬Р‘РђР РђРњ"},"mname":{"type":"string","example":"РћРњРђР Р“РђР—РР•Р’РќРђ"}}},"ErrorData":{"type":"object","properties":{"errorCode":{"type":"string"},"errorDesc":{"type":"string"},"callStack":{"type":"string"}}},"KzAnderLsbooBconResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/KzAnderLsbooRsParms"}}},"KzAnderLsbooRsParms":{"type":"object","properties":{"status":{"type":"string","example":"2"},"statusDesc":{"type":"string"},"lsLsboo":{"type":"string","example":"2"},"errorData":{"$ref":"#/components/schemas/ErrorData"}}},"KZAnderrGetAcctListBconRq":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/KZAnderrGetAcctListRqParms"}}},"KZAnderrGetAcctListRqParms":{"type":"object","properties":{"iin":{"type":"string"}}},"AcctBlock":{"type":"object","properties":{"blocked":{"type":"string"},"statusBlocked":{"type":"string"},"codeBlocked":{"type":"string"}}},"AcctBlocks":{"type":"object","properties":{"gid":{"type":"integer","format":"int32","xml":{"attribute":true}},"acctBlock":{"type":"array","items":{"$ref":"#/components/schemas/AcctBlock"}}}},"AcctNumberCard":{"type":"object","properties":{"numberCard":{"type":"string"}}},"AcctNumberCards":{"type":"object","properties":{"gid":{"type":"integer","format":"int32","xml":{"attribute":true}},"acctNumberCard":{"type":"array","items":{"$ref":"#/components/schemas/AcctNumberCard"}}}},"KZAnderrGetAcctListAcct":{"type":"object","properties":{"gid":{"type":"string","xml":{"attribute":true}},"number":{"type":"string"},"type":{"type":"string"},"openingDate":{"type":"string"},"currency":{"type":"string"},"filial":{"type":"string"},"characteristics":{"type":"string"},"contract":{"type":"string"},"name":{"type":"string"},"role":{"type":"string"},"product":{"type":"string"},"subProduct":{"type":"string"},"balanceCarried":{"type":"string"},"interest":{"type":"string"},"closed":{"type":"string"},"closeDate":{"type":"string"},"dpsType":{"type":"string"},"dpsEndDate":{"type":"string"},"dpsMinSum":{"type":"string"},"dpsRate":{"type":"string"},"dpsProcSum":{"type":"string"},"dpsInterSum":{"type":"string"},"acctNumberCards":{"$ref":"#/components/schemas/AcctNumberCards"},"acctBlocks":{"$ref":"#/components/schemas/AcctBlocks"}}},"KZAnderrGetAcctListBconRs":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/KZAnderrGetAcctListRsParms"}}},"KZAnderrGetAcctListRsParms":{"type":"object","properties":{"statusCode":{"type":"string"},"statusDesc":{"type":"string"},"Acct":{"type":"array","items":{"$ref":"#/components/schemas/KZAnderrGetAcctListAcct"}}}},"KZAnderrCloseRq":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/RequestData"}}},"KZAnderrCloseRs":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/ResponseData"}}},"Status":{"type":"object","properties":{"statusCode":{"type":"string"},"severity":{"type":"string"}}},"KZRepaymRq":{"type":"object","properties":{"iin":{"type":"string"},"loanCode":{"type":"string"},"systemId":{"type":"string"},"operationId":{"type":"string"}}},"KZRepaymStatusBconRq":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/KZRepaymStatusRqParms"}}},"KZRepaymStatusRqParms":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/KZRepaymRq"}}},"KZRepaymStatusBconRs":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/KZRepaymStatusRsParms"}}},"KZRepaymStatusRsParms":{"type":"object","properties":{"response":{"$ref":"#/components/schemas/RepaymStatus"}}},"RepaymStatus":{"type":"object","properties":{"statusCode":{"type":"string"},"statusDesc":{"type":"string"},"transaction":{"type":"string"}}},"CommissionRq":{"type":"object","properties":{"nameCommission":{"type":"string","example":"РљРѕРјРёСЃСЃРёСЏ Р·Р° Р·Р°С‡РёСЃР»РµРЅРёРµ РґРµРЅРµР¶РЅС‹С… СЃСЂРµРґСЃС‚РІ РЅР° РєР°СЂС‚Сѓ"},"commission":{"type":"string","example":"9323"},"since":{"type":"string","example":"2023-08-09"},"currency":{"type":"string","example":"398"}}},"KzAnderrRaterBconRq":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/KzAnderrRaterRqParms"}}},"KzAnderrRaterRqParms":{"type":"object","properties":{"filialCode":{"type":"string"},"commissions":{"type":"array","items":{"$ref":"#/components/schemas/CommissionRq"}}}},"CommissionRs":{"type":"object","properties":{"nameCommission":{"type":"string","example":"РљРѕРјРёСЃСЃРёСЏ Р·Р° Р·Р°С‡РёСЃР»РµРЅРёРµ РґРµРЅРµР¶РЅС‹С… СЃСЂРµРґСЃС‚РІ РЅР° РєР°СЂС‚Сѓ"},"commission":{"type":"string","example":"9323"},"rate":{"type":"string","example":"0.0"},"minValue":{"type":"string","example":"0.0"},"maxValue":{"type":"string","example":"0.0"},"rateFixed":{"type":"string","example":"="}}},"KzAnderrRaterBconRs":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/KzAnderrRaterRsParms"}}},"KzAnderrRaterRsParms":{"type":"object","properties":{"commissions":{"type":"array","items":{"$ref":"#/components/schemas/CommissionRs"}},"status":{"$ref":"#/components/schemas/Status"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ErrorData"}}}},"DebtInfoBconRequest":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/DebtInfoRqParms"}}},"DebtInfoRqParms":{"type":"object","properties":{"filialCode":{"type":"string"},"serviceCode":{"type":"string"},"filialId":{"type":"string"},"clientType":{"type":"string"},"iin":{"type":"string"},"dateReport":{"type":"string"}}},"Collateral":{"type":"object","properties":{"collateralNumber":{"type":"string"},"assessedValue":{"type":"string"},"vidZaloga":{"type":"string"},"manYear":{"type":"string"},"carBody":{"type":"string"},"model":{"type":"string"},"motorNumber":{"type":"string"},"registNumber":{"type":"string"},"registCertificate":{"type":"string"},"color":{"type":"string"},"chassis":{"type":"string"},"vin":{"type":"string"},"fullnamePledger":{"type":"string"},"iinPledger":{"type":"string"},"location":{"type":"string"},"description":{"type":"string"}}},"DebtInfoBconResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/DebtInfoRsParms"}}},"DebtInfoRsParms":{"type":"object","properties":{"status":{"$ref":"#/components/schemas/Status"},"kzAnderrDebtsInfoRs":{"type":"array","items":{"$ref":"#/components/schemas/KzAnderrDebtInfoRs"}}}},"KzAnderrDebtInfoRs":{"type":"object","properties":{"num":{"type":"string"},"filialId":{"type":"string"},"filial":{"type":"string"},"filialEn":{"type":"string"},"filialKz":{"type":"string"},"contCode":{"type":"string"},"docref":{"type":"string"},"acctCr":{"type":"string"},"begDate":{"type":"string"},"endDate":{"type":"string"},"closeDate":{"type":"string"},"status":{"type":"string"},"currency":{"type":"string"},"summCred":{"type":"string"},"balance":{"type":"string"},"balanceOverdue":{"type":"string"},"intrCharges":{"type":"string"},"urIntrOffBal":{"type":"string"},"passOver":{"type":"string"},"penalIntrOffBal":{"type":"string"},"penalBal":{"type":"string"},"decomBal":{"type":"string"},"decomIntr":{"type":"string"},"fortfeitOffBal":{"type":"string"},"acctNum":{"type":"string"},"martialStatus":{"type":"string"},"job":{"type":"string"},"rate":{"type":"string"},"jobPost":{"type":"string"},"product":{"type":"string"},"lsboo":{"type":"string"},"fio":{"type":"string"},"cessionName":{"type":"string"},"cessionBase":{"type":"string"},"cessionRight":{"type":"string"},"creditPurposeName":{"type":"string"},"creditPurposeNameText":{"type":"string"},"creditObjectName":{"type":"string"},"creditObjectNameText":{"type":"string"},"collaterals":{"type":"array","items":{"$ref":"#/components/schemas/Collateral"}},"participants":{"type":"array","items":{"$ref":"#/components/schemas/Participant"}}}},"Participant":{"type":"object","properties":{"role":{"type":"string"},"iin":{"type":"string"},"fio":{"type":"string"},"martialStatus":{"type":"string"}}},"ChkCliCulsBconRequest":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/ChkCliCulsRqParms"}}},"ChkCliCulsRqParms":{"type":"object","properties":{"personType":{"type":"string","example":"Р¤Р›"},"personId":{"type":"string","example":"681024401915"},"filialCode":{"type":"string"}}},"BccArrearsInfo":{"type":"object","properties":{"bcc":{"type":"string","example":"104102"},"bccnameru":{"type":"string","example":"HР°Р»РѕРі РЅР° РёРјСѓС‰РµСЃС‚РІРѕ С„РёР·РёС‡РµСЃРєРёС… Р»РёС†"},"bccnamekz":{"type":"string","example":"Р–РµРєРµ С‚Т±Р»Т“Р°Р»Р°СЂРґС‹ТЈ РјТЇР»РєiРЅРµ СЃР°Р»С‹РЅР°С‚С‹РЅ СЃР°Р»С‹Т›"},"taxarrear":{"type":"string","example":"0.0"},"poenaarrear":{"type":"string","example":"0.0"},"percentarrear":{"type":"string","example":"0.0"},"finearrear":{"type":"string","example":"0.0"},"totalarrear":{"type":"string","example":"0.0"}}},"ChkCliCulsBconResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/ChkCliCulsRsParms"}}},"ChkCliCulsRsParms":{"type":"object","properties":{"returnMsg":{"$ref":"#/components/schemas/ReturnMsg"},"statusCode":{"type":"string"},"statusDesc":{"type":"string"}}},"ReturnMsg":{"type":"object","properties":{"return":{"$ref":"#/components/schemas/Returnx"}}},"Returnx":{"type":"object","properties":{"messageid":{"type":"string","example":"ea3188f6-1ac7-9b9f-b114-b2ee006abbaf"},"chainId":{"type":"string","example":"ea3188f6-1ac7-9b9f-b114-b2ee006abbaf"},"sendtime":{"type":"string","example":"2023-08-09T14:24:55"},"messagetype":{"type":"string","example":"response"},"responsecode":{"type":"string","example":"0"},"errorMessageRu":{"type":"string"},"errorMessageKz":{"type":"string"},"iinbin":{"type":"string","example":"681024401915"},"nameru":{"type":"string","example":"РЎРђР™РњРђРЎРђР•Р’Рђ Р”РђРќРђ РђРЈР“РђРќРћР’РќРђ"},"namekz":{"type":"string","example":"РЎРђР™РњРђРЎРђР•Р’Рђ Р”РђРќРђ РђРЈР“РђРќРћР’РќРђ"},"totalarrear":{"type":"string","example":"0.0"},"totaltaxarrear":{"type":"string","example":"0.0"},"pensioncontributionarrear":{"type":"string","example":"0.0"},"socialcontributionarrear":{"type":"string","example":"0.0"},"socialHealthInsuranceArrear":{"type":"string","example":"0.0"},"taxorginfo":{"type":"array","items":{"$ref":"#/components/schemas/TaxOrgInfo"}}}},"TaxOrgInfo":{"type":"object","properties":{"charcode":{"type":"string","example":"590301"},"nameru":{"type":"string","example":"РЈР“Р” РїРѕ РђР»СЊ-Р¤Р°СЂР°Р±РёР№СЃРєРѕРјСѓ СЂР°Р№РѕРЅСѓ"},"namekz":{"type":"string","example":"УР»-Р¤Р°СЂР°Р±Рё Р°СѓРґР°РЅС‹ Р±РѕР№С‹РЅС€Р° РњРљР‘"},"reportacrualdate":{"type":"string","example":"2023-08-09"},"totalarrear":{"type":"string","example":"0.0"},"totaltaxarrear":{"type":"string","example":"0.0"},"pensioncontributionarrear":{"type":"string","example":"0.0"},"socialcontributionarrear":{"type":"string","example":"0.0"},"socialHealthInsuranceArrear":{"type":"string","example":"0.0"},"taxpayerinfo":{"$ref":"#/components/schemas/TaxPayerInfo"}}},"TaxPayerInfo":{"type":"object","properties":{"iinbin":{"type":"string","example":"681024401915"},"nameru":{"type":"string","example":"РЎРђР™РњРђРЎРђР•Р’Рђ Р”РђРќРђ РђРЈР“РђРќРћР’РќРђ"},"namekz":{"type":"string","example":"РЎРђР™РњРђРЎРђР•Р’Рђ Р”РђРќРђ РђРЈР“РђРќРћР’РќРђ"},"taxarrear":{"type":"string","example":"0.0"},"poenaarrear":{"type":"string","example":"0.0"},"percentarrear":{"type":"string","example":"0.0"},"finearrear":{"type":"string","example":"0.0"},"totalarrear":{"type":"string","example":"0.0"},"bccarrearsinfo":{"$ref":"#/components/schemas/BccArrearsInfo"}}},"CheckClientDocumentRq":{"type":"object","properties":{"iin":{"type":"string","example":"980418351436"},"documents":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"KZAnderrCheckClientDocumentBconRequest":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/KZAnderrCheckClientDocumentRqParms"}}},"KZAnderrCheckClientDocumentRqParms":{"type":"object","properties":{"filialCode":{"type":"string","example":"99"},"checkClientDocumentRq":{"$ref":"#/components/schemas/CheckClientDocumentRq"}}},"KZAnderrCheckClientDocumentBconResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/KZAnderrCheckClientDocumentRsParms"}}},"KZAnderrCheckClientDocumentRsParms":{"type":"object","properties":{"errorCode":{"type":"string","example":"0"},"errorDesc":{"type":"string"},"callStack":{"type":"string"}}},"AnderBlackListBconRequest":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/AnderBlackListRqParms"}}},"AnderBlackListRqParms":{"type":"object","properties":{"serviceCode":{"type":"string","example":"KZAnderrBlackList"},"filialCode":{"type":"string","example":"00"},"spName":{"type":"string","example":"FAICO"},"systemType":{"type":"string","example":"AML"},"personIdType":{"type":"string","example":"2"},"personId":{"type":"string","example":"710706400300"},"lastName":{"type":"string","example":"РЈРЎРўР•РќРћР’Рђ"},"firstName":{"type":"string","example":"Р“РЈР›Р¬Р‘РђР РђРњ"},"middleName":{"type":"string","example":"РћРњРђР Р“РђР—РР•Р’РќРђ"}}},"AnderBlackListBconResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/AnderBlackListRsParms"}}},"AnderBlackListRsParms":{"type":"object","properties":{"status":{"$ref":"#/components/schemas/BlackListStatus"},"statusCode":{"type":"string","example":"0"},"statusDesc":{"type":"string"},"blStatus":{"type":"string","example":"2"}}},"BlackListStatus":{"type":"object","properties":{"severity":{"type":"string"},"statusCode":{"type":"string"}}},"KZAnderrBinActiveBconRq":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/KZAnderrBinActiveRqParms"}}},"KZAnderrBinActiveRqParms":{"type":"object","properties":{"bin":{"type":"string","example":"960440000716"}}},"KZAnderrBinActiveBconRs":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/KZAnderrBinActiveRsParms"}}},"KZAnderrBinActiveRsParms":{"type":"object","properties":{"kzBinActiveRs":{"$ref":"#/components/schemas/KZBinActiveRs"}}},"KZBinActiveRs":{"type":"object","properties":{"statusCode":{"type":"string","example":"0"},"statusDesc":{"type":"string"},"companyName":{"type":"string","example":"РђРєС†РёРѕРЅРµСЂРЅРѕРµ РѕР±С‰РµСЃС‚РІРѕ \\\"РќРµС„С‚СЏРЅР°СЏ СЃС‚СЂР°С…РѕРІР°СЏ РєРѕРјРїР°РЅРёСЏ\\\""},"isTaxPay":{"type":"string","example":"0"},"pos":{"type":"string","example":"РћРўРљР "}}},"GetPersonInfoBconRequest":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/GetPersonInfoRqParms"}}},"GetPersonInfoRqParms":{"type":"object","properties":{"today":{"type":"string"},"iin":{"type":"string"}}},"Account":{"type":"object","properties":{"acctNumber":{"type":"string"},"acctPurpose":{"type":"string"},"openingDate":{"type":"string"},"closingDate":{"type":"string"},"cardNumber":{"type":"string"},"departmentCardCode":{"type":"string"},"openingSystem":{"type":"object"},"departmentCode":{"type":"string"},"lastOperationDate":{"type":"string"},"operationType":{"type":"string"},"operationUserID":{"type":"string"}}},"Address1":{"type":"object","properties":{"country":{"type":"string"},"region":{"type":"string"},"settlements":{"type":"string"},"area":{"type":"string"},"street":{"type":"string"},"house":{"type":"string"},"apartment":{"type":"string"},"index":{"type":"string"}}},"Address3":{"type":"object","properties":{"country":{"type":"string"},"region":{"type":"string"},"settlements":{"type":"string"},"area":{"type":"string"},"street":{"type":"string"},"house":{"type":"string"},"apartment":{"type":"string"},"index":{"type":"string"}}},"Addresses":{"type":"object","properties":{"address1":{"$ref":"#/components/schemas/Address1"},"address3":{"$ref":"#/components/schemas/Address3"}}},"BirthPlace":{"type":"object","properties":{"country":{"type":"string"},"region":{"type":"string"},"settlements":{"type":"string"},"area":{"type":"string"}}},"Change":{"type":"object","properties":{"oldFieldValue":{"type":"string"},"newFieldValue":{"type":"string"},"fieldName":{"type":"string"}}},"ContactPerson":{"type":"object","properties":{"fio":{"type":"string"},"phone":{"type":"string"},"whoIs":{"type":"string"}}},"Contacts":{"type":"object","properties":{"contactType1":{"type":"string"},"contactType2":{"type":"string"},"contactType3":{"type":"string"}}},"GetPerson":{"type":"object","properties":{"today":{"type":"string"},"respCode":{"type":"string"},"respText":{"type":"string"},"lastName":{"type":"string"},"firstNames":{"type":"string"},"gender":{"type":"string"},"birthDate":{"type":"string"},"citizenship":{"type":"string"},"citizenship2":{"type":"string"},"resident":{"type":"string"},"clientCardOpenDate":{"type":"string"},"military":{"type":"string"},"category":{"type":"string"},"isForeignPublicPerson":{"type":"string"},"maritalStatus":{"type":"string"},"maritalStatusText":{"type":"string"},"packageOfServices":{"type":"string"},"workPlace":{"type":"string"},"workPositionHeld":{"type":"string"},"employerCategory":{"type":"string"},"email":{"type":"string"},"clientCardUpdateDate":{"type":"string"},"userID":{"type":"string"},"changes":{"type":"array","items":{"$ref":"#/components/schemas/Change"}},"document":{"$ref":"#/components/schemas/Document"},"contacts":{"$ref":"#/components/schemas/Contacts"},"birthPlace":{"$ref":"#/components/schemas/BirthPlace"},"addresses":{"$ref":"#/components/schemas/Addresses"},"contactPersons":{"type":"array","items":{"$ref":"#/components/schemas/ContactPerson"}},"accounts":{"type":"array","items":{"$ref":"#/components/schemas/Account"}},"otherInfo":{"$ref":"#/components/schemas/OtherInfo"}}},"GetPersonInfoBconResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/GetPersonInfoRsParms"}}},"GetPersonInfoRsParms":{"type":"object","properties":{"statusCode":{"type":"string"},"statusDesc":{"type":"string"},"getPerson":{"$ref":"#/components/schemas/GetPerson"}}},"OtherInfo":{"type":"object","properties":{"sourceFunds":{"type":"string"},"serviceChannel":{"type":"string"},"departmentCode":{"type":"string"},"regionCode":{"type":"string"},"fullName":{"type":"string"},"purposeOpenAcct":{"type":"string"},"electFile":{"type":"string"},"department":{"type":"string"}}},"FicoPersonInfoRequest":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/FicoPersonInfoRequestData"}}},"FicoPersonInfoRequestData":{"type":"object","properties":{"iin":{"type":"string"}}},"FicoPersonInfoResponse":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/KZAnderrPersonSearchData"}}},"KZAnderrPersonSearchData":{"type":"object","properties":{"person":{"$ref":"#/components/schemas/Person"}}},"FicoCreditExportRq":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/RequestData"}}},"FicoCreditExportRs":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/ResponseData"}}},"FicoKassCredSelectBconRq":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/FicoKassCredSelectPRqParms"}}},"FicoKassCredSelectPRqParms":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/SearchCredReq"}}},"SearchCredReq":{"type":"object","properties":{"login":{"type":"string"},"custID":{"type":"string"},"isAsPerson":{"type":"string"}}},"FicoKassCredSelectBconRs":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/FicoKassCredSelectRsParms"}}},"FicoKassCredSelectRsParms":{"type":"object","properties":{"result":{"type":"array","items":{"$ref":"#/components/schemas/SearchCredRes"}}}},"SearchCredRes":{"type":"object","properties":{"loanID":{"type":"string"},"loanNum":{"type":"string"},"loanIssuedOn":{"type":"string"},"loanAmount":{"type":"string"},"product":{"type":"string"},"sumMin":{"type":"string"},"sumMax":{"type":"string"},"acctNum":{"type":"string"},"acctBranch":{"type":"string"},"isBlocked":{"type":"string"},"restAmount":{"type":"string"},"custRole":{"type":"string"},"wasChdpToday":{"type":"string"},"blockReason":{"type":"string"},"overdue":{"type":"string"},"delay":{"type":"string"}}},"CredChdpReq":{"type":"object","properties":{"login":{"type":"string"},"loanID":{"type":"string"},"sumMin":{"type":"string"},"sumMax":{"type":"string"},"acctNum":{"type":"string"},"restAmount":{"type":"string"},"custRole":{"type":"string"},"acctAmount":{"type":"string"},"credAmount":{"type":"string"},"custID":{"type":"string"},"shorteningTerm":{"type":"string"}}},"FicoKassCHDPBconRq":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/FicoKassCHDPRqParms"}}},"FicoKassCHDPRqParms":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/CredChdpReq"}}},"FicoKassCHDPBconRs":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/FicoKassCHDPRsParms"}}},"FicoKassCHDPRsParms":{"type":"object","properties":{"id":{"type":"string"},"result":{"$ref":"#/components/schemas/Result"}}},"Result":{"type":"object","properties":{"isSuccess":{"type":"string"},"error":{"type":"string"}}},"DocumentKey":{"type":"object","properties":{"documentType":{"type":"string"},"template":{"type":"string"},"createMode":{"type":"string"},"briefAnswer":{"type":"string"}}},"DocumentParticipant":{"type":"object","properties":{"role":{"type":"string"}}},"DocumentSyncBconRequest":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/DocumentSyncRqParms"}}},"DocumentSyncDocument":{"type":"object","properties":{"senderReference":{"type":"string"},"amountDB":{"type":"string"},"currencyDB":{"type":"string"},"iptPayType":{"type":"string"},"cardNumber":{"type":"string"},"equipNumber":{"type":"string"},"sessionIPT":{"type":"string"},"documentParticipants":{"type":"array","items":{"$ref":"#/components/schemas/DocumentParticipant"}}}},"DocumentSyncRqParms":{"type":"object","properties":{"systemCode":{"type":"string","example":"0"},"filialCode":{"type":"string","example":"Success"},"documentKey":{"$ref":"#/components/schemas/DocumentKey"},"document":{"$ref":"#/components/schemas/DocumentSyncDocument"}}},"DocumentSyncBconResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/DocumentSyncRsParms"}}},"DocumentSyncQpResponseDocument":{"type":"object","properties":{"id":{"type":"string"},"transId":{"type":"string"},"action":{"type":"string"},"actionTime":{"type":"string"},"acceptTime":{"type":"string"},"senderReference":{"type":"string"},"status":{"type":"string"},"sbolStatus":{"type":"string"},"sbolStatusDesc":{"type":"string"},"isFinalStatus":{"type":"string"},"statusChgDate":{"type":"string"},"type":{"type":"string"},"loanDBZ":{"type":"string"},"amountDB":{"type":"string"},"currencyDB":{"type":"string"},"amountCR":{"type":"string"},"currencyCR":{"type":"string"},"details":{"type":"string"},"cnp":{"type":"string"},"number":{"type":"string"},"branch":{"type":"string"},"orderPay":{"type":"string"},"primaryCreationDate":{"type":"string"},"operationDate":{"type":"string"},"writeOffDate":{"type":"string"},"insertDate":{"type":"string"},"cardIndexInsertDate":{"type":"string"},"cbc":{"type":"string"},"payeeCode":{"type":"string"},"payerCode":{"type":"string"},"okato":{"type":"string"},"pokDD":{"type":"string"},"pokND":{"type":"string"},"pokNP":{"type":"string"},"pokOP":{"type":"string"},"pokTP":{"type":"string"},"specialProcessingSign":{"type":"string"},"thirdFace":{"type":"string"},"operationType":{"type":"string"},"sendMethod":{"type":"string"},"detailsInformation":{"type":"string"},"creditProceedsPayment":{"type":"string"},"paymentType":{"type":"string"},"commissionAccount":{"type":"string"},"commissionCurrency":{"type":"string"},"commissionAmount":{"type":"string"},"commissionAmountNC":{"type":"string"},"commissionRate":{"type":"string"},"currencyRate":{"type":"string"},"currencyOperation":{"type":"string"},"contractNumber":{"type":"string"},"contractDate":{"type":"string"},"contractType":{"type":"string"},"contractAccountNumber":{"type":"string"},"contractAccountDate":{"type":"string"},"invoice":{"type":"string"},"unk":{"type":"string"},"unkDate":{"type":"string"},"taxPayerStatus":{"type":"string"},"conversionType":{"type":"string"},"docCreatorName":{"type":"string"},"docSupervisorName":{"type":"string"},"bankMessage":{"type":"string"},"currOpCode":{"type":"string"},"govNotify":{"type":"string"},"noContractPayment":{"type":"string"},"iptPayType":{"type":"string"},"cardNumber":{"type":"string"},"maskNumber":{"type":"string"},"equipNumber":{"type":"string"},"operatorPrefix":{"type":"string"},"payerID":{"type":"string"},"periodBeginDate":{"type":"string"},"periodEndDate":{"type":"string"},"meterBegin":{"type":"string"},"meterEnd":{"type":"string"},"additionalInfo":{"type":"string"},"product":{"type":"string"},"totalDebt":{"type":"string"},"offDueDebt":{"type":"string"},"paymentAmount":{"type":"string"},"dueDate":{"type":"string"},"ounstandingDebt":{"type":"string"},"outstandingInterest":{"type":"string"},"penalty":{"type":"string"},"recommendedAmount":{"type":"string"},"accSaldo":{"type":"string"},"rrn":{"type":"string"},"uin":{"type":"string"},"sessionIPT":{"type":"string"},"pnMonth":{"type":"string"},"pnYear":{"type":"string"},"pnCount":{"type":"string"},"acctBlocked":{"type":"string"},"docStatusDesc":{"type":"string"},"opAcctEzhPlat":{"type":"string"}}},"DocumentSyncResult":{"type":"object","properties":{"id":{"type":"string"},"document":{"$ref":"#/components/schemas/DocumentSyncQpResponseDocument"}}},"DocumentSyncRsParms":{"type":"object","properties":{"statusDesc":{"type":"string"},"statusCode":{"type":"string"},"documentSyncResult":{"$ref":"#/components/schemas/DocumentSyncResult"}}},"DAGLRequest":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/RequestData"}}},"DAGLResponse":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/ResponseData"}}},"AnderrPersonSyncRequest":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/KZAnderrPersonSyncData"}}},"KZAnderrPersonSyncData":{"type":"object","properties":{"Person":{"$ref":"#/components/schemas/Person"}}},"AnderrPersonSyncResponse":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/KZAnderrPersonSyncResults"}}},"KZAnderrPersonSyncResults":{"type":"object","properties":{"personSyncResult":{"$ref":"#/components/schemas/PersonSyncResult"}}},"AddField":{"type":"object","properties":{"code":{"type":"string","example":"РќРѕРјРµСЂР—Р°РєР°Р·Р°"},"value":{"type":"string","example":"12102022122603"},"type":{"type":"string","example":"CHARACTER"}}},"AnderrLoanCommission":{"type":"object","properties":{"code":{"type":"string","example":"%РљСЂРµРґ"},"rate":{"type":"string","example":"0"},"fixed":{"type":"string","example":"РќРµС‚"},"currency":{"type":"string","example":"398"}}},"Client":{"type":"object","properties":{"personId":{"type":"string","example":"931218402113"},"roleClient":{"type":"string","example":"1"},"unk":{"type":"string","example":"004459345"}}},"Insurances":{"type":"object","properties":{"ficoId":{"type":"string"},"insuranceType":{"type":"string","example":"3"},"docNum":{"type":"string","example":"Р”-300-008337741"},"company":{"type":"string","example":"200"},"openDate":{"type":"string","example":"2023-06-08"},"openDateGSV":{"type":"string","example":"1900-01-01"},"closeDate":{"type":"string","example":"2028-06-07"},"sum":{"type":"string","example":"259926.96"},"vidInsurance":{"type":"string","example":"Р–РёР·РЅРё"}}},"KZAnderrLoanRestRequestData":{"type":"object","properties":{"loanRequest":{"type":"array","items":{"$ref":"#/components/schemas/LoanRequest"}}}},"KZAnderrLoanRestRq":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/KZAnderrLoanRestRequestData"},"requestData":{"$ref":"#/components/schemas/KZAnderrLoanRestRequestData"}}},"LoanRequest":{"type":"object","properties":{"branchCode":{"type":"string","example":"300/31"},"filialCode":{"type":"string","example":"00"},"loginManager":{"type":"string","example":"SERVWS"},"loginFIO":{"type":"string","example":"SERVWS SERVWS"},"loginAgent":{"type":"string","example":"u08815"},"agentFIO":{"type":"string","example":"daniya kairbek"},"idAutoCompany":{"type":"string"},"parentContractNum":{"type":"string"},"amountLimit":{"type":"string"},"credRefSum":{"type":"string"},"limitGrafDate":{"type":"string"},"lgotProc":{"type":"string"},"specialConditionsText":{"type":"string"},"cardAcct":{"type":"string"},"typeCredLine":{"type":"string"},"product":{"type":"string","example":"501"},"subtypeCard":{"type":"string","example":"0"},"isCredLine":{"type":"string","example":"0"},"dtOpenCrd":{"type":"string","example":"2022-10-12"},"currency":{"type":"string","example":"398"},"addCredRefSum":{"type":"string","example":"50000"},"termLoan":{"type":"string","example":"12"},"requestNumber":{"type":"string","example":"TK\\\\300\\\\00284116"},"requestDate":{"type":"string","example":"2022-10-12"},"creditPurpose":{"type":"string","example":"РќР° РїРѕС‚СЂРµР±РёС‚РµР»СЊСЃРєРёРµ С†РµР»Рё"},"repaymentType":{"type":"string","example":"2"},"salesChannel":{"type":"string","example":"РћРЅР»Р°Р№РЅ"},"paymentDay":{"type":"string","example":"12"},"acct":{"type":"string","example":"test"},"totalDebt":{"type":"string","example":"5000"},"income":{"type":"string","example":"True"},"subproductFico":{"type":"string","example":"Р Р°СЃСЃСЂРѕС‡РєР°"},"loanSigns":{"type":"array","items":{"$ref":"#/components/schemas/LoanSign"}},"clients":{"type":"array","items":{"$ref":"#/components/schemas/Client"}},"comissions":{"type":"array","items":{"$ref":"#/components/schemas/AnderrLoanCommission"}},"translates":{"type":"array","items":{"$ref":"#/components/schemas/Translate"}},"insurances":{"type":"array","items":{"$ref":"#/components/schemas/Insurances"}},"nextComissions":{"type":"array","items":{"$ref":"#/components/schemas/NextComission"}},"nextConds":{"type":"array","items":{"$ref":"#/components/schemas/NextCond"}},"addFields":{"type":"array","items":{"$ref":"#/components/schemas/AddField"}},"posCredit":{"$ref":"#/components/schemas/PosCredit"},"DSKey":{"type":"string","example":"TEST"},"ESignature":{"type":"string","example":"YES"}}},"LoanSign":{"type":"object","properties":{"finAnMode":{"type":"string"},"typeRefinance":{"type":"string","example":"РќРµС‚"},"vatType":{"type":"string"},"requestChannel":{"type":"string"},"debtRatio":{"type":"string","example":"21-10-2022"},"calcDate":{"type":"string","example":"0.4973"},"szp":{"type":"string","example":"True"}}},"NextComission":{"type":"object","properties":{"condDate":{"type":"string","example":"2025-01-10"},"code":{"type":"string","example":"%РљСЂРµРґ"},"rate":{"type":"string","example":"0.0"},"fixed":{"type":"string","example":"РќРµС‚"},"currency":{"type":"string","example":"398"}}},"NextCond":{"type":"object","properties":{"condDate":{"type":"string","example":"2025-01-10"},"paymentDay":{"type":"string","example":"03"}}},"PosCredit":{"type":"object","properties":{"partnerBIN":{"type":"string","example":"121140008045"},"subproduct":{"type":"string","example":"75"}}},"Translate":{"type":"object","properties":{"id":{"type":"string","example":"REF_ADD"},"value":{"type":"string","example":"50000"}}},"Comission":{"type":"object","properties":{"code":{"type":"string","example":"%РљСЂРµРґ"},"rate":{"type":"string","example":"0.0"},"strRus":{"type":"string","example":"РќРѕР»СЊ РїСЂРѕС†РµРЅС‚Р°(РѕРІ)"},"strKz":{"type":"string","example":"РќРѕР»СЊ"},"graphComms":{"type":"array","items":{"type":"string"}}}},"CreditPayment":{"type":"object","properties":{"period":{"type":"string","example":"1"},"date":{"type":"string","example":"2022-11-12"},"balanceBefor":{"type":"string","example":"50000.0"},"valueDebt":{"type":"string","example":"4166.67"},"valuePerc":{"type":"string","example":"0.0"},"valueDebtPerc":{"type":"string","example":"4166.67"},"balanceAfter":{"type":"string","example":"45833.33"},"periodStrRUS":{"type":"string","example":"РћРґРёРЅ"},"periodStrKAZ":{"type":"string","example":"Р‘С–СЂ"}}},"CreditPayments":{"type":"object","properties":{"totalDebt":{"type":"string","example":"50000.0"},"totalDebtStrRUS":{"type":"string","example":"РїСЏС‚СЊРґРµСЃСЏС‚ С‚С‹СЃСЏС‡ С‚РµРЅРіРµ 00 С‚РёС‹РЅ"},"totalDebtStrKAZ":{"type":"string","example":"Р•Р»Сѓ РјС‹ТЈ С‚РµТЈРіРµ 00 С‚РёС‹РЅ"},"totalPerc":{"type":"string","example":"0.0"},"totalPercStrRUS":{"type":"string","example":"РЅРѕР»СЊ С‚РµРЅРіРµ 00 С‚РёС‹РЅ"},"totalPercStrKAZ":{"type":"string","example":"РќУ©Р» С‚РµТЈРіРµ 00 С‚РёС‹РЅ"},"totalDebtPerc":{"type":"string","example":"50000.0"},"totalDebtPercStrRUS":{"type":"string","example":"РїСЏС‚СЊРґРµСЃСЏС‚ С‚С‹СЃСЏС‡ С‚РµРЅРіРµ 00 С‚РёС‹РЅ"},"totalDebtPercStrKAZ":{"type":"string","example":"Р•Р»Сѓ РјС‹ТЈ С‚РµТЈРіРµ 00 С‚РёС‹РЅ"},"creditPayment":{"type":"array","items":{"$ref":"#/components/schemas/CreditPayment"}}}},"KZAnderrLoanRestRs":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/KzAnderrLoanRestResponseData"}}},"KzAnderrLoanRestResponseData":{"type":"object","properties":{"errorData":{"$ref":"#/components/schemas/ErrorData"},"loanResponse":{"type":"array","items":{"$ref":"#/components/schemas/LoanResponse"}}}},"Loan":{"type":"object","properties":{"parentContractNum":{"type":"string"},"loanSurr":{"type":"string","example":"РљСЂРµРґРёС‚,22-035597-00-Р”Р‘Р—@00"},"contractNum":{"type":"string","example":"22-035597-00-Р”Р‘Р—"},"contractDate":{"type":"string","example":"2022-10-12"},"registrationNumber":{"type":"string","example":"TK\\\\300\\\\00284116"},"clientFIO":{"type":"string","example":"Р“РЈРўР•РќРЃР’Рђ РњРђР›РРљРђ РђР Р›РР•Р’РќРђ"},"purposeOfLoan":{"type":"string","example":"РќР° РїРѕС‚СЂРµР±РёС‚РµР»СЊСЃРєРёРµ С†РµР»Рё"},"amount":{"type":"string","example":"50000.0"},"amountStrRUS":{"type":"string","example":"РїСЏС‚СЊРґРµСЃСЏС‚ С‚С‹СЃСЏС‡ С‚РµРЅРіРµ 00 С‚РёС‹РЅ"},"amountStrKAZ":{"type":"string","example":"Р•Р»Сѓ РјС‹ТЈ С‚РµТЈРіРµ 00 С‚РёС‹РЅ"},"currency":{"type":"string","example":"KZT"},"termLoan":{"type":"string","example":"12"},"repaymentType":{"type":"string","example":"2"},"acct":{"type":"string","example":"KZ48914002204KZ04LXR"},"filialIIN":{"type":"string","example":"00"},"degreeOfCreditRisk":{"type":"string"},"creditPayments":{"$ref":"#/components/schemas/CreditPayments"},"comission":{"type":"array","items":{"$ref":"#/components/schemas/Comission"}},"translates":{"type":"array","items":{"$ref":"#/components/schemas/Translate"}},"GESV":{"type":"string","example":"0.0"},"GESVStrRUS":{"type":"string","example":"РќРѕР»СЊ РїСЂРѕС†РµРЅС‚Р°(РѕРІ)"},"GESVStrKAZ":{"type":"string","example":"РќРѕР»СЊ"}}},"LoanResponse":{"type":"object","properties":{"result":{"type":"string","example":"0"},"resultDesc":{"type":"string","example":"Р”РѕРіРѕРІРѕСЂ Р±С‹Р» СЃРѕР·РґР°РЅ СЂР°РЅРµРµ."},"loans":{"type":"array","items":{"$ref":"#/components/schemas/Loan"}}}},"AnderrLoanAcceptRestRq":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/RequestData"}}},"AnderrLoanAcceptRestRs":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/ResponseData"},"errrorData":{"$ref":"#/components/schemas/ErrorData"}}},"AnderrLoanRq":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/RequestData"}}},"AnderrLoanRs":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/ResponseData"}}},"AnderrReqHolidayRequest":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/KZReqHolidayRq"}}},"KZReqHolidayRq":{"type":"object","properties":{"BegPeriod":{"type":"string"},"EndPeriod":{"type":"string"}}},"AnderrReqHolidayResponse":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/Properties"},"data":{"$ref":"#/components/schemas/KZReqHolidayRs"}}},"KZReqHolidayRs":{"type":"object","properties":{"date":{"type":"string"},"prevDate":{"type":"string"},"curDate":{"type":"string"},"nextDate":{"type":"string"},"details":{"type":"string"}}},"AgrUlBconRequest":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconRequestHeader"},"rqParms":{"$ref":"#/components/schemas/ArgUlRqParms"}}},"ArgUlRqParms":{"type":"object","properties":{"serviceCode":{"type":"string","example":"Agreement-UL"},"filialCode":{"type":"string","example":"00"},"persons":{"type":"array","items":{"$ref":"#/components/schemas/Person"}}}},"AgrUlBconResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/BconResponseHeader"},"rsParms":{"$ref":"#/components/schemas/ArgUlRsParms"}}},"ArgUlRsParms":{"type":"object","properties":{"responses":{"type":"array","example":"Р—Р°РїРёСЃСЊ РЅР°Р№РґРµРЅР° 33228478","items":{"type":"string","example":"Р—Р°РїРёСЃСЊ РЅР°Р№РґРµРЅР° 33228478"}}}}}}}